.tableWrapper {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding: 18px;
    background-color: var(--background-primary);
    border-radius: 15px;
    margin-bottom: 28px;
  }
}

.table {
  border-collapse: collapse;
}

.th {
  max-width: 25vw;
  background-color: var(--background-form);
  font-weight: 500;
  padding: 16px;
  word-wrap: break-word;

  @media screen and (min-width: 768px) {
    min-width: 180px;
  }
}

.th:nth-child(3) {
  @media screen and (min-width: 768px) {
    min-width: 160px;
  }
}

.th:last-child {
  @media screen and (min-width: 768px) {
    min-width: 148px;
  }
}

.th:not(:last-child),
.td:not(:last-child) {
  border-right: 1px solid var(--background-tertiary);
}

.thLeft {
  border-radius: 8px 0px 0px 0px;
}

.thRight {
  border-radius: 0px 8px 0px 0px;
}

.tdLeft {
  border-radius: 0px 0px 0px 8px;
}

.tdRight {
  border-radius: 0px 0px 8px 0px;
}

.td {
  max-width: 25vw;
  padding: 16px;
  background-color: var(--text-contrast);
  border-top: 1px solid var(--background-tertiary);
  word-wrap: break-word;
}

.headWithIcon {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.progressWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 6px;
  }

  @media screen and (min-width: 1440px) {
    gap: 16px;
  }
}

.progressText {
  font-weight: 500;
  font-size: 18px;
  margin-top: 4px;

  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}
