.addWordButton {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  padding: 0;
  flex-shrink: 0;
  font-weight: 500;
  transition: color var(--transition-main);
}

.addWordButton:hover {
  color: var(--accent-primary);
}

.addWordButton svg {
  margin-top: -4px;
}
