.button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  padding: 0;
  transition: color var(--transition-main);
}

.button span {
  margin-top: 4px;
}

.button:hover {
  color: var(--accent-primary);
}
