.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding: 24px 16px 76px 16px;
  background-color: var(--background-secondary);
  overflow-x: hidden;
}

.progressWrap {
  position: relative;
  align-self: end;
  margin-bottom: 8px;
}

.wordsNumber {
  position: absolute;
  top: 13px;
  left: 14px;
}
