.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--accent-primary);
}

.mobMenuIcon {
  background-color: var(--text-contrast);
}

.userName {
  max-width: 52px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobMenuName {
  color: var(--text-contrast);
}
