.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 68px;
  padding: 16px;
  background-color: var(--background-primary);

  @media screen and (min-width: 768px) {
    padding: 20px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 20px 100px;
  }
}

.authPageHeader {
  background-color: var(--background-secondary);
}

.menuButton {
  background-color: transparent;
  transition: all var(--transition-main);
}

.menuButton svg {
  transition: stroke var(--transition-main);
}

.menuButton:hover svg {
  stroke: var(--accent-primary);
}

.userMenuBlock {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1440px) {
    gap: 16px;
  }
}
