@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./assets/fonts/MacPawFixelDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./assets/fonts/MacPawFixelDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./assets/fonts/MacPawFixelDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./assets/fonts/MacPawFixelDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #f8f8f8;
  --background-tertiary: #dbdbdb;
  --background-form: rgba(133, 170, 159, 0.1);
  --accent-primary: #85aa9f;
  --accent-secondary: #a5c0b8;
  --text-primary: #121417;
  --text-contrast: #fcfcfc;
  --text-semitransparent: rgba(18, 20, 23, 0.5);
  --error: #d80027;
  --success: #3cbf61;
  --border: rgba(18, 20, 23, 0.1);
  --border-thicker: rgba(18, 20, 23, 0.2);
  --border-modal: #d1d5db;
  --backdrop: rgba(18, 20, 23, 0.2);
  --transition-main: 300ms ease-in-out;
}

body {
  margin: 0;
  font-family: "MacPaw Fixel Display", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
