.container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 185px;
  height: 100vh;
  background-color: var(--accent-primary);
  :global(.fadeInRight) {
    animation: fadeInRight 500ms ease-in-out;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    padding: 20px 32px;
  }
}

.closeButton {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  transition: transform var(--transition-main);
}

.closeButton:hover {
  transform: rotate(180deg);
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 166px;
}

.imageContainer {
  margin: auto -16px -16px -16px;

  @media screen and (min-width: 768px) {
    margin: auto -32px -20px -32px;
  }
}
